

  <h1 class="display-3">My Employee Trainings</h1>

  <div class="row">
    <div class="col-6">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group mr-3">
            <input type="text" class="form-control" placeholder="Search..." [formControl]="searchFormControl">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="searchFormControl.setValue('')">
                x
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="float-right">
        <ngb-pagination [collectionSize]="tableDataSource$.value.length" [pageSize]="pageSize$.value"
          [page]="currentPage$.value" (pageChange)="currentPage$.next($event)">
        </ngb-pagination>

        <div class="form-group">
          <label for="sel1">Items per page</label>
          <select class="form-control" id="sel1">
              <option (click)="onChangePageSize(10)" value="10" >10</option>
              <option (click)="onChangePageSize(25)"  value="25">25</option>
              <option (click)="onChangePageSize(50)" value="50">50</option>
              <option (click)="onChangePageSize(100)" value="100">100</option>
              <option (click)="onChangePageSize(500)" value="500">500</option>
              <option (click)="onChangePageSize(500)" selected="selected" value="1000">1000</option>
          </select>
        </div> 

      </div>
    </div>
  </div>
  
  <table cdk-table [dataSource]="dataOnPage$" class="table table-hover">
  
    <!-- Id -->
    <ng-container cdkColumnDef="idUserHasTraining">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('idUserHasTraining')">
        ID <span *ngIf="sortKey$.value === 'idUserHasTraining'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.idUserHasTraining}} </td>
    </ng-container>

     <!-- user id -->
     <ng-container cdkColumnDef="idUser">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('idUser')">
        User ID <span *ngIf="sortKey$.value === 'idUser'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.idUser}} </td>
    </ng-container>

    <!-- user name -->
    <ng-container cdkColumnDef="nameUser">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('nameUser')">
        User name<span *ngIf="sortKey$.value === 'nameUser'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.nameUser}} </td>
    </ng-container>

     <!-- training name -->
     <ng-container cdkColumnDef="trainingname">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('trainingname')">
        Training name <span *ngIf="sortKey$.value === 'trainingname'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.trainingname}} </td>
    </ng-container>

     <!--  price -->
     <ng-container cdkColumnDef="price">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('price')">
        Price <span *ngIf="sortKey$.value === 'price'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.price}} </td>
    </ng-container>
   
     <!--  providername -->
     <ng-container cdkColumnDef="providername">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('providername')">
        Provider name <span *ngIf="sortKey$.value === 'providername'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.providername}} </td>
    </ng-container>

    <!--  clustername  -->
    <ng-container cdkColumnDef="clustername">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('clustername')">
        Cluster name <span *ngIf="sortKey$.value === 'clustername'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.clustername}} </td>
    </ng-container>

     <!-- Training Status  -->
     <ng-container cdkColumnDef="trainingStatus">
      <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('trainingStatus')">
       Training Status <span *ngIf="sortKey$.value === 'trainingStatus'">{{ sortDirection$.value === 'asc' ? '↥' : '↧' }}</span>
      </th>
      <td cdk-cell *cdkCellDef="let row"> {{row.trainingStatus}} </td>
    </ng-container>

      <!-- Level Up Column -->
  <ng-container cdkColumnDef="onApprove">
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let row">
      <button  class="btn btn-success" (click)="onApprove(row)">approve</button>
    </td>
  </ng-container>

    <!-- Level Up Column -->
    <ng-container cdkColumnDef="onDeny">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let row">
        <button  class="btn btn-danger" (click)="onDeny(row)">Deny</button>
      </td>
    </ng-container>
  
   
    <!-- Header and Row Declarations -->
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns$.value"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns$.value"></tr>
  
  </table>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  


       