<h1>Home</h1>
<p>You're logged in with Angular 7 & JWT!!</p>
<p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
<p>This page can be accessed by all authenticated users.</p>
<div>
    Current user from secure api end point:
    <ul>
        <li > {{userFromApi.dn}}</li>
        <li > {{userFromApi.distinguishedName}}</li>
        <li > {{userFromApi.sAMAccountName}}</li>
        <li > {{userFromApi.whenCreated}}</li>
        <li > {{userFromApi.pwdLastSet}}</li>
        <li > {{userFromApi.userAccountControl}}</li>
        <li > {{userFromApi.employeeID}}</li>
        <li > {{userFromApi.sn}}</li>
        <li > {{userFromApi.givenName}}</li>
        <li > {{userFromApi.cn}}</li>
        <li > {{userFromApi.displayName}}</li>
        <li > {{userFromApi.description}}</li>
        <li > {{userFromApi.manager}}</li>
        <li > {{userFromApi.extensionAttribute1}}</li>
    </ul>
</div>